#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

#navbar.is-hidden {
  display: none;
}

#cluster-map {
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
}

#map {
  width: 100%;
  height: 300px;
}

.image-container {
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.show-image-container {
  width: 100%;
  position: relative;
}

.show-image-container img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* Establishes a 1:1 aspect ratio */
  object-fit: cover; /* Crop image while maintaining aspect ratio */
}
